<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.dongxibao.erp.mapper.system.SysUserMapper">

    <resultMap type="top.dongxibao.erp.entity.system.SysUser" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="nickName" column="nick_name"/>
        <result property="password" column="password"/>
        <result property="deptId" column="dept_id"/>
        <result property="postId" column="post_id"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="sex" column="sex"/>
        <result property="avatar" column="avatar"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>

        <result property="deptName" column="dept_name"/>
        <result property="leader" column="leader"/>
        <result property="deptStatus" column="dept_status"/>
    </resultMap>
    <sql id="selectUserVo">
        select a.id,a.username,a.nick_name,a.password,a.dept_id,a.post_id,a.email,a.phone,a.sex,a.avatar,a.status,a.remark,a.create_by,a.create_time,a.update_by,a.update_time,
        d.id as deptId, d.parent_id, d.dept_name,  d.leader, d.status as dept_status,a.del_flag
        from sys_user a
		    left join sys_dept d on a.dept_id = d.id
    </sql>

    <sql id="BaseColumns">
        a.del_flag,
        a.id,a.username,a.nick_name,a.password,a.dept_id,a.post_id,a.email,a.phone,a.sex,a.avatar,a.status,a.remark,a.create_by,a.create_time,a.update_by,a.update_time
    </sql>

    <select id="getById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <include refid="selectUserVo"/>
        where a.id = #{id} and a.del_flag = 0
    </select>

    <select id="selectByCondition" parameterType="top.dongxibao.erp.entity.system.SysUser" resultMap="BaseResultMap">
        <include refid="selectUserVo"/>
        <where>
            and a.del_flag = 0
            <if test="beginTime != null"><!-- 开始时间检索 -->
                AND <![CDATA[ a.create_time >= #{beginTime} ]]>
            </if>
            <if test="endTime != null"><!-- 结束时间检索 -->
                AND <![CDATA[ a.create_time <= #{endTime} ]]>
            </if>
            <if test="id != null ">and a.id = #{id}</if>
            <if test="username != null  and username != '' ">and a.username like #{username}</if>
            <if test="nickName != null  and nickName != '' ">and a.nick_name like #{nickName}</if>
            <if test="status != null ">and a.status = #{status}</if>
            <if test="deptId != null ">and a.dept_id = #{deptId}</if>
        </where>
    </select>
    <select id="checkUsernameExist" resultType="top.dongxibao.erp.entity.system.SysUser">
        select
        <include refid="BaseColumns"/>
        from sys_user a
        <where>
            a.username = #{username}
            and a.del_flag = 0
            <if test="id != null">
                AND a.id != #{id}
            </if>
        </where>
        limit 1
    </select>
    <select id="selectUserByUserName" resultType="top.dongxibao.erp.entity.system.SysUser">
        select
        <include refid="BaseColumns"/>
        from sys_user a
        <where>
            and a.del_flag = 0
            <if test="username != null">
                AND a.username = #{username}
            </if>
        </where>
        limit 1
    </select>

    <insert id="insert" parameterType="top.dongxibao.erp.entity.system.SysUser">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="username != null">username,</if>
            <if test="nickName != null">nick_name,</if>
            <if test="password != null">password,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="postId != null">post_id,</if>
            <if test="email != null">email,</if>
            <if test="phone != null">phone,</if>
            <if test="sex != null">sex,</if>
            <if test="avatar != null">avatar,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            del_flag
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="username != null">#{username},</if>
            <if test="nickName != null">#{nickName},</if>
            <if test="password != null">#{password},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="postId != null">#{postId},</if>
            <if test="email != null">#{email},</if>
            <if test="phone != null">#{phone},</if>
            <if test="sex != null">#{sex},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            0
        </trim>
    </insert>

    <update id="update" parameterType="top.dongxibao.erp.entity.system.SysUser">
        update sys_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="id != null">id = #{id},</if>
            <if test="username != null">username = #{username},</if>
            <if test="nickName != null">nick_name = #{nickName},</if>
            <if test="password != null">password = #{password},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="postId != null">post_id = #{postId},</if>
            <if test="email != null">email = #{email},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="resetUserPwd">
        update sys_user set password = #{encryptNewPassword} where username = #{username}
    </update>

    <update id="deleteById" parameterType="java.lang.Long">
        update sys_user set del_flag = 1 where id = #{id}
    </update>

    <update id="deleteBatchIds" parameterType="java.lang.Long">
        update sys_user set del_flag = 1 where id in
        <if test="ids != null">
            <foreach item="id" collection="ids" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </update>
</mapper>