<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.dongxibao.erp.mapper.system.SysUserRoleMapper">

    <resultMap type="top.dongxibao.erp.entity.system.SysUserRole" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="roleId" column="role_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="BaseColumns">
        a.id,a.user_id,a.role_id,a.create_by,a.create_time,a.update_by,a.update_time
    </sql>

    <select id="getById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="BaseColumns"/>
        from sys_user_role a
        where a.id = #{id}
    </select>

    <select id="selectByCondition" parameterType="top.dongxibao.erp.entity.system.SysUserRole" resultMap="BaseResultMap">
        select
        <include refid="BaseColumns"/>
        from sys_user_role a
        <where>
            <if test="beginTime != null"><!-- 开始时间检索 -->
                AND <![CDATA[ a.create_time >= #{beginTime} ]]>
            </if>
            <if test="endTime != null"><!-- 结束时间检索 -->
                AND <![CDATA[ a.create_time <= #{endTime} ]]>
            </if>
            <if test="id != null ">and a.id = #{id}</if>
            <if test="userId != null ">and a.user_id = #{userId}</if>
            <if test="roleId != null ">and a.role_id = #{roleId}</if>
        </where>
    </select>

    <insert id="insert" parameterType="top.dongxibao.erp.entity.system.SysUserRole">
        insert into sys_user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="roleId != null">role_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="roleId != null">#{roleId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="update" parameterType="top.dongxibao.erp.entity.system.SysUserRole">
        update sys_user_role
        <trim prefix="SET" suffixOverrides=",">
            <if test="id != null">id = #{id},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="roleId != null">role_id = #{roleId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from sys_user_role where id = #{id}
    </delete>

    <delete id="deleteBatchIds" parameterType="java.lang.Long">
        delete from sys_user_role where id in
        <if test="ids != null">
            <foreach item="id" collection="ids" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </delete>
    <delete id="deleteUserRoleByUserId" parameterType="java.lang.Long">
        delete from sys_user_role where user_id = #{userId}
    </delete>
</mapper>